:root {
    --accent-color: #F7654A;
    --dark-color: #404149;
    --gray-color: #999999;
    --white-color: #ffffff;
    --background-color: #E5E5E5;
}

@font-face {
    font-family: "OpenSans-Regular";
    src: url(../fonts/OpenSans-Regular.woff2);
}

@font-face {
    font-family: "Oswald-Regular";
    src: url(../fonts/Oswald-Regular.woff2);
}

@font-face {
    font-family: "Oswald-Medium";
    src: url(../fonts/Oswald-Medium.woff2);
}

@font-face {
    font-family: "Oswald-Bold";
    src: url(../fonts/Oswald-Bold.woff2);
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

/* Начало стилей для текста */

.text-h2 {
    font-family: "Oswald-Medium", sans-serif;
    font-weight: 400;
    font-size: 36px;
    text-transform: uppercase;
}

.text-h3 {
    font-family: "Oswald-Medium", sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.text-h4 {
    font-family: "Oswald-Medium", sans-serif;
    font-weight: 400;
    font-size: 21px;
    letter-spacing: 0.02em;
}

.text-p {
    font-family: "OpenSans-Regular", sans-serif;
    font-size: 16px;
}

.text-p-reviews {
    font-family: "OpenSans-Regular", sans-serif;
    font-size: 14px;
    line-height: 21px;
}

/* Конец стилей для текста */

.header {
    min-height: 740px;
    background-image: url(../img/first-screen-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.header__title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 20px;
    margin-bottom: 112px;
}

.logo {
    width: 60px;
    height: 60px;
}

.burger {
    width: 50px;
    height: 50px;
    cursor: pointer;
    padding: 0;
    background-color: var(--accent-color);
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.burger__line {
    display: block;
    width: 21px;
    height: 3px;
    background-color: #ffffff;
    margin-bottom: 5px;
}

.burger__line:last-child {
    margin-bottom: 0;
}

.main__title {
    font-family: "Oswald-Medium";
    font-size: 64px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 95px;
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 734px;
    margin: 0 auto 16px;
    color: var(--white-color);
}

.main__title-item {
    font-family: "Oswald-Regular";
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: var(--white-color);
    max-width: 734px;
    margin: 0 auto;
}

.about {
    min-height: 1080px;
    position: relative;
    padding-top: 250px;
}

.info {
    position: absolute;
    top: -150px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1110px;
    width: 100%;
    min-height: 300px;
    padding: 57px 130px;
    background-color: #f7f7f7;
}

.about__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    justify-items: center;
}

.about__grid-item {
    text-align: center;
    width: 190px;
}

.about__h4 {
    font-family: "Oswald-Medium";
    font-weight: 500;
    font-size: 72px;
    text-transform: uppercase;
    color: var(--accent-color);
    margin-bottom: 5px;
}

.about__h5 {
    font-family: "Oswald-Medium";
    font-size: 36px;
    text-transform: uppercase;
    color: #000000;
}

.about__p {
    font-family: "Oswald-Medium";
    font-size: 18px;
    color: var(--gray-color);
}

.project-h2 {
    text-align: center;
    margin-bottom: 49px;
    font-family: "Oswald-Medium";
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-transform: uppercase;
    color: var(--dark-color);
}

.grid__project {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.grid__project-item {
    max-width: 350px;
}

.project__img {
    margin-bottom: 45px;
}

.item__line {
    width: 55px;
    height: 6px;
    background-color: var(--accent-color);
    margin-bottom: 15px;
}

.project__h3 {
    font-family: "Oswald-Medium";
    font-size: 24px;
    color: var(--dark-color);
    margin-bottom: 13px;
}

.project__p {
    font-family: "OpenSans-Regular";
    font-size: 16px;
    color: var(--gray-color);
}

.request {
    background-color: var(--accent-color);
    min-height: 181px;
    margin-bottom: 150px;
}

.request__container {
    width: 100%;
    padding-top: 30px;
}

.request__flex {
    display: flex;
    justify-content: space-between;
}

.request__h4 {
    font-family: "Oswald-Bold";
    font-size: 48px;
    text-transform: uppercase;
    line-height: 71px;
    letter-spacing: 0.02em;
    color: var(--white-color);
}

.request__h5 {
    font-family: "Oswald-Bold";
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 8px;
}

.button__container {
    padding-top: 45px;
}

.request__button {
    display: flex;
    align-items: center;
    border: none;
    cursor: pointer;
    font-family: "Oswald-Medium";
    font-size: 14px;
    text-transform: uppercase;
    line-height: 21px;
    letter-spacing: 0.05em;
    color: #000000;
    background-color: #fff;
    padding: 14px 30px;
    transition: 0.3s;
}

.request__button:hover {
    background-color: var(--gray-color);
    transition: 0.3s;
}

.request__button img {
    margin-right: 15px;
}

.services {
    margin-bottom: 150px;
}

.services__h2,
.services__h4 {
    color: #000000;
    text-align: center;
}

.services__h2 {
    margin-bottom: 55px;
    text-transform: uppercase;
}

.services__h4 {
    margin: 0 auto;
    max-width: 172px;
    text-transform: uppercase;
}

.services__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    justify-items: center;
}

.services__grid-item {
    padding: 59px 0;
    background-color: #f7f7f7;
    width: 350px;
}

.services__icon {
    margin: 0 auto 23px;
}

.portfolio {
    margin-bottom: 150px;
}

.portfolio__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 0;
}

.question {
    margin-bottom: 145px;
}

.question-h2 {
    margin-bottom: 48px;
    text-align: center;
}

.question-h3 {
    text-transform: uppercase;
    color: var(--accent-color);
    margin-bottom: 24px;
}

.question-p {
    color: var(--gray-color);
    margin-bottom: 35px;
    max-width: 730px;
    line-height: 22px;
}
    
.partners {
    padding-top: 100px;
    padding-bottom: 81px;
    background-color: var(--dark-color);
    margin-bottom: 150px;
}

.partners-h2 {
    color: var(--white-color);
    text-align: center;
    margin-bottom: 48px;
}

.partners__flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.partners__item {
    margin-right: 64px;
    margin-bottom: 20px;
    max-width: 170px;
}

.partners__item:nth-child(5n) {
    margin-right: 0;
}

.reviews {
    margin-bottom: 142px;
}

.reviews-h2 {
    text-align: center;
    margin-bottom: 60px;
}

.reviews__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.grid__item-container {
    background-color: #f7f7f7;
    margin-bottom: 32px;
    padding: 20px 30px 32px;
}

.reviews-p {
    color: var(--accent-color);
    font-family: "Oswald-Bold";
    font-size: 96px;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: -35px;
}

.text-p-reviews {
    color: var(--gray-color);
}

.reviews-h4 span {
    color: var(--accent-color);
}

.request-elem2 {
    margin-bottom: 100px;
}

.contacts {
    margin-bottom: 150px;
}

.contacts-h2 {
    text-align: center;
    margin-bottom: 60px;
}

.contacts__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.contacts__grid-item {
    max-width: 255px;
    text-align: center;
}

.contacts__icon {
    width: 50px;
    height: 50px;
    margin: 0 auto 15px;
}

.contacts-h3 {
    color: var(--gray-color);
    text-transform: uppercase;
    margin-bottom: 20px;
}

.contacts-h3-text {
    text-transform: uppercase;
}

.contacts-h3-text a {
    text-decoration: none;
    color: #000000;
}

.contacts-mail a {
    color: var(--accent-color);
}

.footer {
    padding: 30px 0;
    background-color: var(--dark-color);
    color: var(--white-color);
}

.footer__flex {
    display: flex;
    justify-content: space-between;
}












/* Медиа запросы */

@media screen and (max-width: 1280px) {
    .header__title {
        padding-left: 15px;
        padding-right: 15px;
    }

    .info {
        padding: 10px 0;
    }

    .about {
        padding: 425px 15px 100px 15px;
    }

    .about__grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .request {
        padding-left: 15px;
        padding-right: 15px;
    }

    .services {
        padding-left: 15px;
        padding-right: 15px;
    }

    .services__grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .services__grid-item {
        width: 100%;
    }

    .portfolio__grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    .question {
        padding-inline: 15px;
        margin-bottom: 110px;
    }

    .partners__flex {
        justify-content: center;
        padding-left: 50px;
    }

    .partners__item:nth-child(5n) {
        margin-right: 64px;
    }

    .reviews {
        padding-inline: 15px;
    }

    .reviews__grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .contacts__grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .contacts__grid-item {
        max-width: 100%;
    }

    .footer {
        padding: 30px 15px;
    }
}



@media screen and (max-width: 768px) {
    .info {
        position: relative;
        padding: 10px 0;
    }

    .about {
        padding: 65px 15px 80px 15px;
    }

    .about__grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);

    }

    .grid__project {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }

    .request__flex {
        flex-wrap: wrap;
        justify-content: center;
    }

    .request__button {
        margin-bottom: 50px;
        margin-left: 15px;
    }

    .services__grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .portfolio__grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .partners__flex {
        margin-right: 10px;
        margin-left: 10px;
        padding-left: 60px;
    }

    .reviews__grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .reviews__grid-item {
        margin-bottom: 25px;
    }

    .reviews__grid-item:last-child {
        margin-bottom: 0;
    }

    .contacts__grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer__flex {
        flex-direction: column;
    }

}

@media screen and (max-width: 380px) {
    .main__title {
        font-size: 46px;
        line-height: 64px;
    }
}